$green-900: #63A60F;
$green-200: #E0EDCF;
$green-100: #EFF6E7;
$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;
$red-900: #CF3E3B;
$orange-900: #FF7A00;
$yellow-900: #FFB800;
$silver-600:  #C1C1C1;
$silver-100: #F6F6F6;
$white: #FFFFFF;

$fw-light:300;
$fw-regular:400;
$fw-medium:500;
$fw-semibold:600;
$fw-bold:700;
$fw-black:900; 

$fs-sm:14px;
$fs-md:16px;
$fs-lg:32px;
$fs-xl:60px;

$lh-sm:1;
$lh-md:2;
$lh-lg:3;
$lh-xl:4;


%lato-300 {
    font-family: 'lato-light';
    font-weight: 300;
}

%lato-400 {
    font-family: 'lato-regular';
    font-weight: 400;
}

%lato-500 {
    font-family: 'lato-medium';
    font-weight: 500;
}

%lato-700 {
    font-family: 'lato-bold';
    font-weight: 700;
}

%lato-900 {
    font-family: 'lato-black';
    font-weight: 900;
}